---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title>QR Code - Web Tools</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div id="qrcode"></div>
    <script is:inline src="/js/qr-code-styling.js"></script>
    <script is:inline src="/js/url-blob.js?v=1"></script>
    <script is:inline src="/js/qrcode.js?v=8"></script>
    <script is:inline>
        generateByQuery(fetchQuery());
    </script>
</body>
</html>
