---
interface Props {
  id?: string;
  dataRemember?: string;
  dataAutoUpdate?: boolean;
}

const { id = 'file-type', dataRemember, dataAutoUpdate = false } = Astro.props;
---

<select id={id} data-remember={dataRemember} data-auto-update={dataAutoUpdate ? '' : undefined}>
  <option value="file">File</option>
  <option value="url">URL</option>
</select>
