---
import { useTranslations } from '../i18n/utils';

interface Props {
  id: string;
  dataRemember?: string;
  dataShare?: string;
  dataAutoUpdate?: boolean;
  dataType?: string;
}

const { id, dataRemember = id, dataShare, dataAutoUpdate = false, dataType = 'hex' } = Astro.props;

const { lang = 'en' } = Astro.params;
const t = useTranslations(lang as any);
---

<select
  data-toggle="encoding"
  id={id}
  data-remember={dataRemember}
  data-share={dataShare}
  data-auto-update={dataAutoUpdate || undefined}
  data-type={dataType}
>
  <option value="hex">{t('hex_lower')}</option>
  <option value="hex_upper">{t('hex_upper')}</option>
  <option value="base64" data-load-encoding="base64">Base64</option>
</select>
