---
import FileHashPage from '../../components/BaseHashPage.astro';
import OutputEncodingSelect from '../../components/OutputEncodingSelect.astro';
import FileTypeSelect from '../../components/FileTypeSelect.astro';
import HMACSettings from '../../components/HMACSettings.astro';
import { useTranslations } from '../../i18n/utils';

const t = useTranslations('en');
---

<BaseHashPage
  title={t('sha512_file_hash.title')}
  description={t('sha512_file_hash.description')}
  activePage="hash/sha512_file_hash"
  isUseFile={true}
>
  <div class="setting">
    <label for="file-type">{t('input_type')}</label>
    <FileTypeSelect id="file-type" dataRemember="file-type" dataAutoUpdate={true} />
  </div>

  <div class="setting">
    <label for="output-type">{t('output_encoding')}</label>
    <OutputEncodingSelect id="output-type" dataShare="output_type" dataAutoUpdate={true} />
  </div>

  <HMACSettings />

  <!-- Load HMAC support FIRST (like in HTML) -->
  <script is:inline slot="scripts">
    ++waitLoadCount;
    delayScripts.push({
      src: '/js/hmac.js?v=2'
    });
  </script>

  <!-- Load sha512 library and set window.method -->
  <script is:inline slot="scripts">
    ++waitLoadCount;
    delayScripts.push({
      src: 'https://cdnjs.cloudflare.com/ajax/libs/js-sha512/0.9.0/sha512.min.js',
      onload: function () {
        window.method = sha512;
        methodLoad();
      }
    });
  </script>

  <!-- Load encoding support -->
  <script is:inline slot="scripts">
    ++waitLoadCount;
    delayScripts.push({
      src: '/js/encoding.js?v=8',
      onload: function () {
        methodLoad();
      }
    });
  </script>

  <!-- Load clipboard support -->
  <script is:inline slot="scripts">
    delayScripts.push({
      src: '/js/clipboard.min.js',
      onload: function () {
        new ClipboardJS('[data-toggle="copy"]').on('success', function (e) {
          showMessage(e.trigger.getAttribute('data-message'));
          gtag('event', 'copy');
        });
      },
      delay: 100
    });
  </script>

  <!-- Load file handling scripts -->
  <script is:inline slot="scripts">
    ++waitLoadCount;
    delayScripts.push({
      src: '/js/url-blob.js?v=1',
      onload: function () {
        methodLoad();
      }
    });

    ++waitLoadCount;
    delayScripts.push({
      src: '/js/droppable-file.js',
      onload: function () {
        methodLoad();
      }
    });

    ++waitLoadCount;
    delayScripts.push({
      src: '/js/file.js?v=10',
      onload: function () {
        methodLoad();
      }
    });
  </script>
</BaseHashPage>
